<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Escáner de Cubo Rubik</title>

<style>

body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

#video{
border:2px solid white;
}

#overlay{
position:absolute;
left:0;
top:0;
}

#container{
position:relative;
width:640px;
margin:auto;
}

button{
margin-top:20px;
padding:10px 20px;
font-size:18px;
}

</style>

</head>

<body>

<h1>Escáner de Cubo Rubik</h1>

<p id="instruccion">Escanear cara BLANCA</p>

<div id="container">

<video id="video" width="640" height="480" autoplay playsinline></video>

<canvas id="overlay" width="640" height="480"></canvas>

</div>

<h2>Cara detectada</h2>

<div id="cara" class="cara"></div>

<button>SIGUIENTE</button>

<script src="/static/scanner.js"></script>

</body>

</html>
